/*By Andy Nguyen*/
* {
    margin: 0px;
    padding: 0px;
}
.container {
    width: 1000px;
    min-height: 500px;
    background-color: white;
    padding: 10px;
}
img {
    border: 2px solid black;
    margin: 8px;
    width: 150px;
}